/.target
/bin
.cache
.classpath
.project
target
project/target
activator*
.settings
/logs
/.history
# netbeans project
/nbproject
/build/
genfiles.properties
project.properties
build.xml
build-impl.xml
manifest.mf