@(signupForm: Form[Post])

@import helper._
@import helper.twitterBootstrap._

@title = {
    Beitrag erstellen
}

@main(title, nav = "compose") {
	<div class="well well-small">
	    @helper.form(action = routes.PostController.submit) {
	        @inputText(
	            signupForm("title"),
	            '_label -> "",
	            '_help -> "",
	            'placeholder -> "title - don't forget you can use html here"
	        )
	        @textarea(
	            signupForm("body"),
	            '_label -> "",
	            '_help -> "",
	            'placeholder -> "body - don't forget you can use html here, too"
	        )
	        <div class="actions">
	            <a href="@routes.Application.index" class="btn danger">Abbrechen</a>
	            <input type="submit" class="btn primary" value="Speichern">
	        </div>
	    }
    </div>
}
