@CHARSET "UTF-8";
/** Fonts *********************************************************************/
.content * {
	font-family: 'Vollkorn', serif;
}

pre, pre *, code, code *, .tooltip, .tooltip * {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
}

body {
    padding-top: 50px;
}

form {
    display: inline-block;	
}

.userlist {
	border: 1px solid #888;
	cellspacing: 3px;
	cellpaddin
}

.userlist th, .userlist td {
  padding: 8px;
  border: 1px dashed #aaa;
}
