@CHARSET "UTF-8";
/** Fonts *********************************************************************/
.content * {
	font-family: 'Vollkorn', serif;
}

pre, pre *, code, code *, .tooltip, .tooltip * {
	font-family: 'Droid Sans Mono', sans-serif;
	font-size: 12px;
}

body {
    padding-top: 50px;
}

form {
    display: inline-block;	
}
/** Fix header hiding content *************************************************/
/*body {
	padding-top: 70px;
	padding-bottom: 30px;
}

[action="/compose"] .actions {
	padding-left: 0;
	text-align: right;
}

[action="/compose"] .input {
	margin-left: 0;
}

[action="/compose"] [type="text"], [action="/compose"] textarea {
	width: 100%;
}

[action="/compose"] label {
	display: none;
}

[action="/compose"] .danger {
	height: 15px;
}
*/