/** Fonts *********************************************************************/
.content * {
  font-family: 'Vollkorn', serif;
}

pre, pre *, code, code *, .tooltip, .tooltip * {
  font-family: 'Droid Sans Mono', sans-serif !important;
  font-size: 12px !important;
}

body {
    padding-top: 50px;
}

form {
    display: inline-block;  
}

.userlist {
  border: 1px solid #888;
  cellspacing: 3px;
}

.userlist th, .userlist td {
  padding: 8px;
  border: 1px dashed #aaa;
}

.navbar-brand {
  color: white !important;
}

.post-container {
  border: 1px dashed #666;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}
