@media only screen and (max-width : 320px) {
  .navbar-brand {
    font-size: 25px;
  }
  
  .post-container .header {
    h2 {
      margin-top: 2px;
    }
    .pull-right {
      width: 100%;
      text-align: right;
      margin-bottom: 7px;
    }
  }
  
  .sign-in-buttons {
    display: block;
    width: 100%;
    text-align: right;
  }
}

@media only screen and (max-width : 360px) {
  #yo-button {
    margin-left: 8px;
    position: fixed;
    top: 40px;
    right: 16px;
    z-index: 9001; /* Yep, its OVER NONETHOUSAND! */
    .yo-open {
      right: 0px;
      border: 1px solid black;
      top: 4px;
    }
  }
}

@media only screen and (max-width : 384px) {
  #yo-button {
    margin-left: 8px;
  }
}

@media only screen and (max-width: 767px) {
  .syndication-link {
    margin-left: 10px;
  }
}