@(location: Option[GeoCoord])

@main("wasis.nu/mit/blog#about", "", None) {
  <style>
    .row {
      margin-left: 20px;
      margin-right: 20px;
    }
  </style>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2">
		  <i class="fa fa-info-circle fa-6" style="font-size:100px"></i>
    </div>
    <div class="col-md-10">
		  <h2>About</h2>
		  <p>
		  Diese Software ist nat&uuml;rlich in C gehackt, mit <a
                     href="https://www.fefe.de/dietlibc/">dietlibc</a>, <a
                     href="https://www.fefe.de/libowfat/">libowfat</a>, unter <a
                     href="https://www.fefe.de/gatling/">gatling</a> laufend und mit einem <a
                     href="https://www.fefe.de/tinyldap/">tinyldap-Backend</a>
                     &ndash; alles andere ist Schlangenöl!<br>
                     &hellip; und kann auf <a href="https://github.com/sne11ius/playlog">github gegabelt</a> werden.<br>
      
      </p>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-2"></div>
    <div class="col-md-4">
		  <h2 style="margin-top: 0">Contact</h2>
		  <p>
		    <a href="mailto:cornelius@@wasis.nu">cornelius@@wasis.nu</a><br>
		    <a href="https://plus.google.com/+CorneliusLilge">Google Plus</a><br>
		    <a href="https://twitter.com/snellius">@@snellius</a><br>
		    <a href="https://www.facebook.com/sne11ius">Facebook</a>
	    </p>
    </div>
    <div class="col-md-4">
		  <iframe src="https://githubbadge.appspot.com/sne11ius?a=0" style="border: 0;height: 142px;width: 200px;overflow: hidden; margin-top: 5px;" frameBorder="0"></iframe>
	  </div>
  </div>
  @if(location.isDefined) {
    <div class="row" style="margin-top: 20px;">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h4>Want to meet?</h4>
        <div id="map-canvas"></div>
      </div>
      <script src="https://maps.googleapis.com/maps/api/js"></script>
      <style>
        #map-canvas {
          width: 500px;
          height: 400px;
        }
      </style>
      <script>
        function initialize() {
          var myLatlng = new google.maps.LatLng(@location.get.latitude, @location.get.longitude);
          var mapOptions = {
            zoom: 6,
            center: myLatlng
          }
          var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
        
          var marker = new google.maps.Marker({
              position: myLatlng,
              map: map,
              title: 'I am here'
          });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
      </script>
    </div>
  }
}
