@(users: Map[String, User], user: User)(implicit env: com.mohiva.play.silhouette.core.Environment[User, _], request: RequestHeader)

@main(Html("Admin"), "", Some(user)) {
  <p>This is just a simple list. There is nothing you can do here.</p>
  <table class="userlist">
    <tr>
      <th>id</th>
      <th>provider</th>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th>avatar</th>
      <th>admin?</th>
    </tr>
	  @for(user <- users map (_._2)) {
	    <tr>
	      <td>@user.userID</td>
	      <td>@user.loginInfo.providerID</td>
	      <td>@user.firstName</td>
	      <td>@user.lastName</td>
	      <td>@user.email</td>
	      <td><img src="@user.avatarURL"></td>
	      <td>
	        <input type="checkbox" @("checked".when(user.isAdmin))>
	      </td>
	    </tr>
	  }
  </table>
}
