@(users: Map[String, User], user: User)(implicit env: com.mohiva.play.silhouette.core.Environment[User, _], request: RequestHeader)

@main(Html("Admin"), "", Some(user)) {
  <h1>Wooot! Admin Page!</h1>
  <table>
    <tr>
      <th>id</th>
      <th>loginInfo</th>
      <th>first name</th>
      <th>last name</th>
      <th>email</th>
      <th>avatar</th>
      <th>admin?</th>
    </tr>
	  @for(user <- users map (_._2)) {
	    <tr>
	      <td>@user.userID</td>
	      <td>@user.loginInfo</td>
	      <td>@user.firstName</td>
	      <td>@user.lastName</td>
	      <td>@user.email</td>
	      <td><img src="@user.avatarURL"></td>
	      <td>
	        @if(user.isAdmin) {
	          yep
          } else {
            nope
          }
	      </td>
	    </tr>
	  }
  </table>
}
