@(post: Post, commentForm: Form[forms.CommentForm.Data], user: Option[User])(implicit env: com.mohiva.play.silhouette.core.Environment[User, _], request: RequestHeader)

@import bootstrap._
@import com.mohiva.play.silhouette.core.providers._

<div class="comments">
  @user match {
    case Some(user) => {
      <fieldset>
        <legend class="">Add a comment</legend>
        @helper.form(action = routes.CommentController.addComment()) {
          @text(commentForm("title"), "Titel")
          @text(commentForm("body"), "Body")
          <input type="hidden" name="postId" value="@post.id">
          <div class="form-group">
            <div class="">
              <button id="submit" type="submit" value="submit" class="btn btn-primary btn-block">Absenden</button>
            </div>
          </div>
        }
      </fieldset>
    }
    case None => {
      <div class="sign-in-hint">Sign in to post a comment:
        @defining(env.providers.values.filter(_.isInstanceOf[SocialProvider[_]])) { providers =>
          @if(!providers.isEmpty) {
            @for(p <- providers) {
              <!--a href="@routes.SocialAuthController.authenticate(p.id)"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" style="width:16px;height:16px;"></a-->
              <a class="btn btn-social-icon btn-sm btn-@(p.id + (if (p.id.contains("google")) "-plus" else ""))" href="@routes.SocialAuthController.authenticate(p.id)">
						    <i class="fa fa-@(p.id + (if (p.id.contains("google")) "-plus" else ""))"></i>
						  </a>
            }
          }
        }
      </div>
    }
  }
  @if(post.comments.isEmpty) {
    <h3>No comments yet</h3>
  } else {
    <h3>@post.comments.length Comment@("s".when(post.comments.length > 1)):</h3>
    @for(comment <- post.comments) {
      <span class="pull-right">
        Created: @formatJoda(comment.created) | Author: @comment.author.fullName | <img style="width:20px" src="@comment.author.avatarURL">
      </span>
      <h4>@comment.title</h4>
      <div>@comment.body</div>
    }
  }
</div>
