@(editPostForm: Form[Post], post: Post)

@import helper._
@import helper.twitterBootstrap._

@main("Beitrag bearbeiten", nav = "edit") {
  @helper.form(action = routes.EditPostController.updateExistingPost(post.id)) {
    @inputText(
      editPostForm("title"),
      '_label -> "",
      '_help -> ""
    )
    @textarea(
      editPostForm("body"),
      '_label -> "",
      '_help -> "",
      'placeholder -> "body - don't forget you can use html here, too"
    )
    @checkbox(
      editPostForm("published"),
      '_label -> "",
      '_help -> "",
      '_text -> "Release!"
    )
    <div class="actions">
      <a href="@routes.Application.index(None)" class="btn danger">Abbrechen</a>
      <input type="submit" class="btn primary" value="Speichern">
    </div>
  }
}
