@(posts: List[Post], user: Option[User] = None)(implicit env: com.mohiva.play.silhouette.core.Environment[User, _], request: RequestHeader)

@import com.mohiva.play.silhouette.core.providers._

@main(Html("wasis.nu/mit<wbr>/blog"), "", user) {
  @for(post <- posts) {
    <span class="pull-right">
      @defining(env.providers.values.filter(_.isInstanceOf[SocialProvider[_]])) { providers =>
        @if(!providers.isEmpty) {
          @for(p <- providers) {
            <a href="@routes.SocialAuthController.authenticate(p.id)"><img src="@routes.Assets.at(s"images/providers/${p.id}.png")" style="width:16px;height:16px;"></a>
          }
        }
      }
    </span>
    <h2>@Html(post.title)</h2>
    <span class="pull-right">Created: @formatJoda(post.created) | Edited: @formatJoda(post.edited) | Id: @post.id</span>
    <p>@Html(post.body)</p>
    <div class="form-group">
      @helper.form(action = routes.Application.removePost) {
        <input type="hidden" name="postId" value="@post.id">
        <button id="submit" type="submit" value="submit" class="btn btn-danger">Eintrag löschen</button>
      }
      @helper.form(action = routes.EditPostController.editExistingPost(post.id.get)) {
        <input type="hidden" name="postId" value="@post.id">
        <button id="submit" type="submit" value="submit" class="btn btn-primary">Eintrag bearbeiten</button>
      }
    </div>
    <hr>
  }
}
