@(post: Post, config: FeedConfig, user: Option[User])(implicit env: com.mohiva.play.silhouette.core.Environment[User, _], request: RequestHeader)

@import com.mohiva.play.silhouette.core.providers._
@import forms._
<div class="post-container" id="@post.id">
  <div class="header">
		<h2>@Html(post.title)</h2>
		<span class="pull-right"><span class="lbl">Created: </span>@formatJoda(post.created)<br><span class="lbl">Edited: </span>@formatJoda(post.edited)</span>
	</div>
	<p>@Html(post.body)</p>
	@user.map { u =>
	  @if(u.isAdmin) {
	    <div class="form-group">
	      @helper.form(action = routes.Application.removePost) {
	        <input type="hidden" name="postId" value="@post.id">
	        <button id="submit" type="submit" value="submit" class="btn btn-danger btn-xs">Eintrag löschen</button>
	      }
	      @helper.form(action = routes.EditPostController.editExistingPost(post.id)) {
	        <input type="hidden" name="postId" value="@post.id">
	        <button id="submit" type="submit" value="submit" class="btn btn-primary btn-xs">Eintrag bearbeiten</button>
	      }
	    </div>
	  }
	}.getOrElse {
	}
	<div class="interaction">
		<div class="row">
      <div class="col-md-2">
        <a href="@permalink(config, post)" class="permalink btn btn-default btn-xs">Permalink</a>
      </div>
	    <div class="col-md-5">
			  <div class="fb-like" data-href="@permalink(config, post)" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		  </div>
	    <div class="col-md-2">
			  <div class="g-plusone" data-size="medium" data-annotation="inline" data-width="300" data-href="@permalink(config, post)"></div>
	    </div>
	    <div class="col-md-2">
			  <a href="https://twitter.com/share" class="twitter-share-button" data-url="@permalink(config, post)">Tweet</a>
	    </div>
		</div>
		@commentPanel(post, CommentForm.form, user)
	</div>
</div>
